<ion-content>
  <ion-toolbar>
    <ion-row>
      <ion-col size="10" class="logo">
        <div class="logoo titlee ">
          
            <span class="ion-text-white">Shot</span><span style="color:#f55476">spot</span>
          
          <!--<img src="assets/images/logoshotspot.png" />-->
        </div>
        <div class="fs ">{{area}}, {{selectedDistrict}}, {{selectedState}}</div>
      </ion-col>

      <ion-col size="2">
        <h6 class="ion-text-white"> {{personname}}</h6>
      </ion-col>
    </ion-row>
  </ion-toolbar>
 


  <ion-row>
    <ion-col size="12">
      <div class="divv">
        <iframe src="https://www.youtube.com/embed/YojL7UQTVhc" title="Camera Basics - Aperture" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <ion-searchbar>
      </ion-searchbar>
  
    <h4 class=" ">Categories</h4>
      <div class="scroll-container no-scrollbar ">
        <ion-card class="column" id="open-modal">
          <img alt="Silhouette of mountains" src="../../assets/images/photo.jpg" />
          <ion-card-title class="image-text">Photographer</ion-card-title>
        </ion-card>
        <ion-card class="column">
          <img alt="Silhouette of mountains" src="../../assets/images/photo.jpg" />
          <ion-card-title class="image-text">Influencer</ion-card-title>
        </ion-card>
        <ion-card class="column">
          <img alt="Silhouette of mountains" src="../../assets/images/photo.jpg" />
          <ion-card-title class="image-text">Video Editor</ion-card-title>
        </ion-card>
        <ion-card class="column">
          <img alt="Silhouette of mountains" src="../../assets/images/photo.jpg" />
          <ion-card-title class="image-text">Music Director</ion-card-title>
        </ion-card>
        <ion-card class="column">
          <img alt="Silhouette of mountains" src="../../assets/images/photo.jpg" />
          <ion-card-title class="image-text">Graphic Designer</ion-card-title>
        </ion-card>
      </div>
    
      <h4 class=" ">offers</h4>
      <div class="scroll-container no-scrollbar ">
        <ion-card class="column1 bg1 ">
          <ion-card-title class="ion-text-start ion-padding-top" style="color:white;">VIP MEMBERSHIP</ion-card-title>
          <div class="ion-padding-top"> Get upto 15% discount on home service</div>
          <button class="knowmore">Know More</button>
        </ion-card>
        <ion-card class="column1 bg2">
          <ion-card-title class="ion-text-start ion-padding-top"> Flat 25% off on Home Painting</ion-card-title>
          <div class="ion-padding-top">
            Lowest rates Upto 60% off on
          </div>
          <button class="knowmore" style="background-color:white;color:#7DADAF">Explore Now</button>
        </ion-card>
        <ion-card class="column1 bg3">
          <ion-card-title class="ion-text-start ion-padding-top" style="color:#A292CE;">VIP MEMBERSHIP</ion-card-title>
          <div class="ion-padding-top">
            Upto 60% off on Home Cleaning
          </div>
          <button class="knowmore" style="background-color:white;color:#311463">Buy now</button>
        </ion-card>
      </div>
    
      <h4 class=" ">Videos</h4>
      <div class="scroll-container no-scrollbar ">
        <div class="column4   ">
          <iframe src="https://www.youtube.com/embed/viUT8E8WWm8" title="#Nikonz30 camera  shoot a beautiful flower || Thanks for 4M view.. @CreativeBoyAshwin" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="column4  ">
          <iframe src="https://www.youtube.com/embed/FmmnzIgUHi0" title="Mobile Photography Idea" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="column4   ">
          <iframe src="https://www.youtube.com/embed/viUT8E8WWm8" title="#Nikonz30 camera  shoot a beautiful flower || Thanks for 4M view.. @CreativeBoyAshwin" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    
      <h4 class=" ">Discounts</h4>
      <div class="scroll-container no-scrollbar ">
        <ion-card class="column2  box-shadow ">
          <div class="maincolor2 ion-text-bold"> Extra</div>
          <h4 class="ion-no-margin maincolor2   ion-text-bold">15% DISCOUNT</h4>
          <small>On Nobroker home services </small>
          <ion-list>
            <ion-item class="custom-item-height ion-no-padding">.<small>Festive Closure </small></ion-item>
            <ion-item lines="none" class="  custom-item-height ion-no-padding">.<small>Personalised expert service</small> </ion-item>
          </ion-list>
          <div>

          </div>
        </ion-card>
        <ion-card class="column2  box-shadow ">
          <div class="maincolor2 ion-text-bold"> Extra</div>
          <h4 class="ion-no-margin maincolor2   ion-text-bold">15% DISCOUNT</h4>
          <small>On Nobroker home services </small>
          <ion-list>
            <ion-item class="custom-item-height ion-no-padding">.<small>Festive Closure </small></ion-item>
            <ion-item lines="none" class="  custom-item-height ion-no-padding">.<small>Personalised expert service</small> </ion-item>
          </ion-list>
          <ion-row>
            <ion-col size="4"></ion-col>
            <ion-col size="8">
              <img class="logotop " src="../../assets/images/logoshotspot.png" />
            </ion-col>
          </ion-row>

          <div>
          </div>
        </ion-card>
        <ion-card class="column2  box-shadow ">
          <div class="maincolor2 ion-text-bold"> Extra</div>
          <h4 class="ion-no-margin maincolor2   ion-text-bold">15% DISCOUNT</h4>
          <small>On Nobroker home services </small>
          <ion-list>
            <ion-item class="custom-item-height ion-no-padding">.<small>Festive Closure </small></ion-item>
            <ion-item lines="none" class="  custom-item-height ion-no-padding">.<small>Personalised expert service</small> </ion-item>
          </ion-list>
          <div>
          </div>
        </ion-card>
      </div>
    
      <ion-row>
        <ion-col size="9">
          <h4 class=" ">Special Occasions </h4>

        </ion-col>
        <ion-col size="3">
          <h6 class="ion-margin-end"><a id="open-modal1">See All</a></h6>
        </ion-col>
      </ion-row>
      <div class="scroll-container no-scrollbar ">
        <div class="column3" id="open-modal1">
          <img alt="Raksha Bandhan"
               src="../../assets/images/raksha.webp"
               class="circle-image" />

          <ion-card-title class="image-text1">Raksha Bandan</ion-card-title>
        </div>
        <div class="column3">
          <img alt=" Birthday" src="../../assets/images/birthday.jpg" class="circle-image" />
          <ion-card-title class="image-text1">Birthday</ion-card-title>
        </div>
        <div class="column3">
          <img alt="Anniversary " src="../../assets/images/annivers.png" class="circle-image" />
          <ion-card-title class="image-text1">Anniversary</ion-card-title>
        </div>
        <div class="column3">
          <img alt="haldi " src="../../assets/images/haldi.jpg" class="circle-image" />
          <ion-card-title class="image-text1">Haldi</ion-card-title>
        </div>
        <div class="column3">
          <img alt="Marriage " src="../../assets/images/annivers.png" class="circle-image" />
          <ion-card-title class="image-text1">Marriage</ion-card-title>
        </div>
      </div>
    </ion-col>


  </ion-row>
  <!--<ion-row  class="scroll-container no-scrollbar ">
    <ion-col size="4">
      <ion-card id="open-modal">
        <img alt="Silhouette of mountains" src="../../assets/images/photo.jpg" />
        <ion-card-title>Photographer</ion-card-title>
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img alt="Silhouette of mountains" src="../../assets/images/photo.jpg" />
        <ion-card-title>Influencer</ion-card-title>
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img alt="Silhouette of mountains" src="../../assets/images/photo.jpg" />
        <ion-card-title>Video Editor</ion-card-title>
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img alt="Silhouette of mountains" src="../../assets/images/photo.jpg" />
        <ion-card-title>Music Director</ion-card-title>
      </ion-card>
    </ion-col>
    <ion-col size="4">
      <ion-card>
        <img alt="Silhouette of mountains" src="../../assets/images/photo.jpg" />
        <ion-card-title>Graphic Designer</ion-card-title>
      </ion-card>
    </ion-col>
  </ion-row>-->

  <ion-row>
    <ion-col>

      <ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.50" [breakpoints]="[0, 1]">

        <ng-template>
          <ion-header class=" ">
            <ion-toolbar>
              <ion-buttons slot="end">
                <!--<ion-button class="button1" (click)="modal.dismiss()" style="color:blue">okay</ion-button>-->
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="modal-content"  >
            <ion-row class="ion-margin ">
              <ion-col size="4" class="ion-no-margin ion-no-padding">
                <ion-card class="modell_card">
                  <img alt="Silhouette of mountains" src="../../assets/images/photo.jpg" />
                  <div>Photographer</div>
                </ion-card>
              </ion-col>
              <ion-col size="4" class="ion-no-padding">
                <ion-card class="modell_card">
                  <img alt="Silhouette of mountains" src="../../assets/images/photo.jpg" />
                  <div>Cinematographer</div>
                </ion-card>
              </ion-col>
              <ion-col size="4" class="ion-no-padding">
                <ion-card class="modell_card">
                  <img alt="Silhouette of mountains" src="../../assets/images/photo.jpg" />
                  <div>Video Editor</div>
                </ion-card>
              </ion-col>



            </ion-row>

          </ion-content>


        </ng-template>
      </ion-modal>


      <ion-modal #modal trigger="open-modal1" [initialBreakpoint]="0.50" [breakpoints]="[0, 1]">

        <ng-template>
          <ion-header class=" ">
            <ion-toolbar>
              <ion-buttons slot="end">
                <!--<ion-button class="button1" (click)="modal.dismiss()" style="color:blue">okay</ion-button>-->
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="modal-content">
            <ion-row class="ion-margin">
              <ion-col size="4">
                <div class="column3">
                  <img alt=" Birthday" src="../../assets/images/birthday.jpg" class="circle-image" />
                  <ion-card-title class="image-text1">Birthday</ion-card-title>
                </div>
              </ion-col>
              <ion-col size="4">
                <div class="column3">
                  <img alt="Anniversary " src="../../assets/images/annivers.png" class="circle-image" />
                  <ion-card-title class="image-text1">Anniversary</ion-card-title>
                </div>
              </ion-col>
              <ion-col size="4">
                <div class="column3">
                  <img alt="haldi " src="../../assets/images/haldi.jpg" class="circle-image" />
                  <ion-card-title class="image-text1">Haldi</ion-card-title>
                </div>
              </ion-col>
            </ion-row>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-col>
  </ion-row>

</ion-content>
